
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#rightPaddle {
  background-color: white;
  width: 20px;
  border-radius: 50px;
  height: 80px;
  position: absolute;
  left: 410px;  /* Uncomment if you want to set a "starting" position */
  top: 205px;    /* Uncomment if you want to set a "starting" position */
}

#leftPaddle {
  background-color:white;
  width: 20px;
  border-radius: 50px;
  height: 80px;
  position: absolute;
  left: 10px;
  top: 205px;
}

#ball {
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  position: absolute;

}

#scoreOne {
  height: 55px;
  width: 55px;
  background-color:white;
  position: absolute;
  left: 100px;
  top: 20px;
  text-align: center;
}

#scoreTwo {
  height: 55px;
  width: 55px;
  background-color: white;
  position:absolute;
  right:100px;
  bottom: 365px;
  text-align: center;
}

#winner {
  background-color: white;
  text-align: center;
}
