
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#playerOne {
  background-color: white;
  width: 20px;
  border-radius: 50px;
  height: 125px;
  position: absolute;
  right: 10px;  /* Uncomment if you want to set a "starting" position */
  top: 145px;    /* Uncomment if you want to set a "starting" position */
}

#playerTwo {
  background-color:white;
  width: 20px;
  border-radius: 50px;
  height: 125px;
  position: absolute;
  left: 10px;
  top: 145px;
}

#ball {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  position: absolute;
  top: 205px;
  left:205px;

}

#scoreOne {
  height: 55px;
  width: 55px;
  background-color:white;
  position: absolute;
  left: 100px;
}

#scoreTwo {
  height: 55px;
  width: 55px;
  background-color: white;
  position:absolute;
  right:100px;
  bottom: 385px;
}